body {
    background-color: #723838;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    color: #e2bfbf;
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
}

.cta-button {
    background-color: #e2bfbf;
    color: #723838;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.form-title {
    color: #e2bfbf;
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
    margin-bottom: 20px;
}

.lista-canciones{
    padding-left: 2rem;
}

.lista-canciones > li {
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 10px;
}

.lista-canciones ul {
    padding-left: 20px
}

.lista-canciones ul li {
    list-style-type: disc;
}

.formulario{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 20x;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.formulario input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 18px;
}